
#tbtoolbar {
	border-bottom:1px solid black;
	background-color: #ffffff; 
	padding: 0; 
	margin:0;
}

#tbtoolbar vbox  {
	margin: 0 1px;
	padding:2px 6px;
	background-color: #ffffff;
}

#tbtoolbar vbox:hover  {
	background-color: #e0e8f6;
}

#tbtoolbar vbox[active="true"]  {
	background-color: #c1d2ee;
}