.fullsize, html.fullsize body {
    margin: 0;
    height: 100%;
}

html, body {
    /*background-color: var(--in-content-categories-background);*/
    font-size: 11pt;
}

#manager {
    display: flex;
    flex-direction: column;
}

#tbtoolbar {
    border:1px solid var(--in-content-box-border-color);
    border-radius: 3px;
    background-color: var(--in-content-box-background); 
    padding: 0; 
    margin:8px 12px 12px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.vbox  {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;    
}

.hbox  {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;    
}

.alignstart {
    align-items: flex-start;
}

.flex {
    flex:2;
}

#tbtoolbar .vbox  {
    margin: 0;
    padding:8px 8px 3px 8px;
    background-color: var(--in-content-box-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;    
}

#tbtoolbar .label {
    text-align: center;   
}

#tbtoolbar .vbox:hover  {
    background-color: var(--in-content-item-hover);
}

#tbtoolbar .vbox[active="true"]  {
	color: var(--in-content-selected-text);
    background-color: var(--in-content-item-selected)
}

#contentWindow {
    margin:8px 12px 12px 12px;
    border: none;
    flex:2;
}

#mainframe {
    padding:0 12px;
    margin:0;
}

.row vbox {
    width:140px;
}

iframe {
    margin:0;
    padding:0;
    border: none;
}

#actionButtons > img {
    margin:5px;
    padding:5px;
    border:1px solid var(--in-content-box-border-color);;
    border-radius: 3px;
}

/* richlistbox replacement */
.account-selection-box {
	border: 1px solid var(--in-content-box-border-color);
    border-radius: 2px;
    overflow: hidden;
}

/* header layout */
.account-selection-box-header {
	background-color: var(--in-content-box-background);
	border-bottom: 1px solid var(--in-content-box-border-color);
    font-size: 10pt;    
}
.account-selection-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;     
}
.account-selection-header div {
	padding: 0.3em;
    font-weight: bold;
    font-size: 9pt;
}
.account-selection-header div:nth-child(1){
    width: 16px;
}
.account-selection-header div:nth-child(2){
    flex: 2;
    border-left: 1px solid var(--in-content-box-border-color);
    border-right: 1px solid var(--in-content-box-border-color);
}

/* items layout */
.account-selection-box-items {
	overflow: auto;
	overflow-x: hidden;
	background-color: var(--in-content-box-background);
}

.account-selection-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;     
}
.account-selection-item div{
	padding: .3em;
	cursor: default;
	user-select: none;
    font-size: 9pt;
}
.account-selection-item div:nth-child(1){
    width: 16px;
}
.account-selection-item div:nth-child(2){
    flex: 2;
}
.account-selection-item:hover {
	background-color: var(--in-content-item-hover);
}
.account-selection-item[selected] {
	color: var(--in-content-selected-text);
	background-color: var(--in-content-item-selected)
}