/*  skin/toolbar-button.css  */

#tbsync-toolbarbutton {
  list-style-image: url("chrome://tbsync/skin/sync.png");
}

toolbar[iconsize="small"] #tbsync-toolbarbutton {
  list-style-image: url("chrome://tbsync/skin/syncsmall.png");
}

