  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    gap: 1px;
    width: 250px;
    margin: 2ex auto;
  }

  .grid-item {
    padding: 2px;
    text-align: left;
  }
